In [6]:
import pandas as pd

df = pd.read_csv('faps_fahnutrients.csv')
desired_columns = ['hhnum', 'itemnum', 'usdadescmain', 'totgramsunadj', 'totfat', 'totsug', 'energy', 'carb', 'satfat']
df_cleaned = df[desired_columns]

df_cleaned.to_csv('fah_nutrients_c.csv', index=False)

In [ ]:
df = pd.read_csv('diabetes_binary_5050split_health_indicators_BRFSS2015.csv')
desired_columns = ['Diabetes_binary', 'BMI', 'Smoker', 'PhysActivity', 'Fruits', 'Veggies', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'PhysHlth', 'Sex', 'Age', 'Education', 'Income']
df_cleaned = df[desired_columns]
df_cleaned.to_csv('diabetes_split.csv', index=False)

In [25]:
df = pd.read_csv('faps_access_puf.csv')
column_mapping = {
    'snap1': '0.25 mi',
    'snap2': '0.50 mi',
    'snap3': '1.0 mi',
    'snap4': '2.0 mi',
    'snap5': '5.0 mi',
    'snap6': '10.0 mi',
    'snap7': '15.0 mi',
    'snap8': '30.0 mi',
    'ff1': '0.25 mi_ff',
    'ff2': '0.50 mi_ff',
    'ff3': '1.0 mi_ff',
    'ff4': '2.0 mi_ff',
    'ff5': '5.0 mi_ff',
    'ff6': '10.0 mi_ff',
    'ff7': '15.0 mi_ff',
    'ff8': '30.0 mi_ff'
}
df = df.rename(columns=column_mapping)
desired_columns = ['hhnum', '0.25 mi', '0.50 mi', '1.0 mi', '2.0 mi', '5.0 mi', '10.0 mi', '15.0 mi', '30.0 mi', '0.25 mi_ff', '0.50 mi_ff', '1.0 mi_ff', '2.0 mi_ff', '5.0 mi_ff', '10.0 mi_ff', '15.0 mi_ff', '30.0 mi_ff', 'nearsnap_dist', 'nearsnap_stype', 'nearff_dist']
df_cleaned = df[desired_columns]
df_cleaned.to_csv('acces_food_real.csv', index=False)

In [17]:
df_cleaned.head(1)

,hhnum,0.25 mi,0.50 mi,1.0 mi,2.0 mi,5.0 mi,10.0 mi,15.0 mi,30.0 mi,0.25 mi_ff,0.50 mi_ff,1.0 mi_ff,2.0 mi_ff,5.0 mi_ff,10.0 mi_ff,15.0 mi_ff,30.0 mi_ff,nearsnap_dist,nearsnap_stype
0,100012,0,4,9,16,19,22,37,188,0,1,10,11,12,12,14,77,0.33,SM

In [22]:
df = pd.read_csv('faps_household_puf.csv')
selected_columns = ['hhnum', 'inchhavg_r']
df_cleaned = df[selected_columns]
df_cleaned.to_csv('houshold_income.csv', index=False)

In [23]:
#merge
df_access = pd.read_csv('acces_food_real.csv')
df_income = pd.read_csv('houshold_income.csv')

df_merged = pd.merge(df_access, df_income, on='hhnum', how='left')

df_merged.to_csv('access_food_real_w_income.csv', index=False)
df_merged.head(1)

,hhnum,0.25 mi,0.50 mi,1.0 mi,2.0 mi,5.0 mi,10.0 mi,15.0 mi,30.0 mi,0.25 mi_ff,...,1.0 mi_ff,2.0 mi_ff,5.0 mi_ff,10.0 mi_ff,15.0 mi_ff,30.0 mi_ff,nearsnap_dist,nearsnap_stype,nearff_dist,inchhavg_r
0,100012,0,4,9,16,19,22,37,188,0,...,10,11,12,12,14,77,0.33,SM,0.3,4667.33